@charset "ISO-8859-1";

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#photo-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}
.radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}
.radio-label input[type="radio"] {
  display: none;
}
.radio-label-selected {
  background-color: #4CAF50;
  color: white;
}
#next-button {
  background-color: #d0d0d0;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  transition: background-color 0.3s, transform 0.3s;
}
#next-button:enabled {
  background-color: #4CAF50;
  cursor: pointer;
}
#next-button:enabled:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
#counter {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  max-height: 300px; /* Ajuste a altura conforme necessário */
  overflow-y: auto; /* Adiciona barra de rolagem na lateral */
  display: block; /* Garante que a tabela seja um bloco para a barra de rolagem */
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 10px;
  text-align: center;
}
th:nth-child(2), th:nth-child(3) {
  padding-left: 15px;
}
td:nth-child(2), td:nth-child(3) {
  padding-left: 15px;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
